
.palette {
  padding: 10px;
  background-color: hsla(0,0%,0%,0.2);
}
.palette-row {
  display: flex;
  gap: auto auto;
  flex-wrap: wrap;
  justify-content: center;
}


.palette-row button {
  height: 50px;
  width: 50px;
  margin: 0.5rem;
  border-radius: 25px;
}


.control-row {
  display: flex;
  justify-content: center;
}

.control-row button {
  background-color: hsla(0,0%,100%,0.3);
  color: black;
  font-weight: bold;
  flex: auto;
  margin: 0.5rem;
  min-height: 2rem;
  max-width: 150px;
  border-radius: 0.5rem
}

.display {
  text-align: center;
  background-color: hsla(0,0%,100%,0.8);
}
.dot {
  height: 1rem;
  width: 1rem;
  border-radius: 0.5rem;
  border: solid 1px red;
  margin: 0.5rem 0.2rem;
  display: inline-block;
}

[data-color=r] { background-color: hsl(  350,90%,50%); }
[data-color=o] { background-color: hsl( 30,100%,50%); }
[data-color=y] { background-color: hsl( 50,100%,50%); }
[data-color=g] { background-color: hsl( 100,60%,50%); }
[data-color=b] { background-color: hsl(210,90%,50%); }
[data-color=v] { background-color: hsl(280,90%,50%); }
[data-color=w] { background-color: hsl( 20,60%,40%); }
[data-color=s] { background-color: hsl(  0, 0%, 0%); }
.dot[data-state=idle] { border-color: #bbb; }
.dot[data-state=active] { border-color: #888;   box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75); }


.panel {
  position: fixed;
  bottom:0;
  right: 0px;
  width: 100%;
  max-width: 500px;
}