html, body {
  box-sizing: border-box;
  height:100%;
  border: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5rem;
}

button, input { 
  border-radius:  5px;
  touch-action: manipulation;
}
.main {
  background-color: lightgray;
}

@media  only screen and ( orientation: landscape ){
  .input {
    width: 50vw;
    background-color: yellow;
  }
}

/* 
.listing { background-color: #ddd; }
.display { background-color: white; }
.keyboard { background-color: white; } */

.listing { 
  overflow: scroll;
}

.input {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 10px;

  display: grid;
  grid-template:
    "display"  1fr
    "keyboard" 2fr
  ;
  grid-gap: 10px;
}

@media only screen and (min-width: 500px) {
  .input {
    height: 300px;
  }
}

@media only screen and (max-width: 500px) {
  .input {
    height: 210px;
  }
}

.input[data-focused=true] {
  grid-template:
  "display"  65px
  ;  
}
.input[data-focused=true] .keyboard {
  display: none;
}

.input * {
  box-shadow: 0px 0px 4px 4px hsl(0, 0%, 0%, 0.33);
}

.display {
  display: grid;
  grid-template: 
    "del inp res"
    / 1fr 3fr 1fr
  ;
  grid-gap: 10px;
}
.display * { font-size: 26px; }
.display input {
  border: none;
  text-align: center;
  font-family:'Courier New', Courier, monospace;
  font-size: 25px;
  width: 100%;
}
/* .display button { margin: 10px; }
 */.display input {
  border-bottom: solid 1px gray;
}

/* .keyboard {
  display: grid;
  grid-template:
    "r o y E"
    "g b v E"
    "n s s E"
    / 5fr 5fr 5fr 4fr
  ;
  grid-gap: 10px;
} */

.keyboard {
  display: grid;
  grid-template:
    "r o y g E" 1fr
    "b v n s E" 1fr
    / 1fr 1fr 1fr 1fr 1fr
  ;
  grid-gap: 10px;
}

.keyboard button {
  font-size: 26px;
}

footer {
  height: 50vh;
}
