html, body { height:100%; border: 0; margin: 0; }

body {
  background-color: #ddd;
  font-family: Arial, Helvetica, sans-serif;
  
}



.barcode-display {
  text-align: center;
/*   background:white; */
  position: absolute;
  left:0;right:0;
  margin: 0.8rem;
  border-radius: 0.5rem;
}
.barcode {
  background:white;
  border-radius: 0.5rem;
  border: solid 1px hsla(0,0%,0%,0.75);
  padding: 0.8rem;
  width: 88%;
  max-width: 320px;
  height: 88%;
  display: inline-block;
  box-shadow: 7px 7px 34px 0px hsla(0,0%,0%,0.75);
}

.selected { background:white; }

#shield {
  background-color: hsl(240,66%,8%);
  opacity: 0.44;
  position: fixed;
  top:0; bottom:0; right:0; left:0;
  height: 100%;
  width: 100%;
}
body[data-state=selected] { background-color: #bbb; }
body[data-state=browsing] #shield { z-index: -2000; }
body[data-state=selected] .card { filter: blur( 1px ); }
body[data-state=selected] .card.selected { filter: blur( 0px ); }

body[data-state=selected] .selected {
  position: relative;
  z-index: 2000;
  box-shadow: 7px 7px 34px 0px rgba(0, 0, 0, 0.75);
}

body[data-state=selected] .barcode-display { z-index: 2000; }

.ean { display: none }

hr { visibility: hidden; }

.group {
  padding: 0.5rem;
  margin-top: 0.5rem;
  background-color: hsl( 0, 0%, 100%, 0.8 );  
}

.card {
  padding: 0.5rem;
  background-color: hsl( 0, 0%, 98% );
}

.group .card {
  display: inline-block;
  border: solid 1px hsl( 0, 0%, 70% );
  border-radius: 0.2rem; 
  background-color: hsl( 0, 0%, 99% );
 
}


}
