html, body { height:100%; border: 0; margin: 0; }

body {
  background-color: #ddd;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5rem;
}



.barcode-display {
  text-align: center;
/*   background:white; */
  position: absolute;
  left:0;right:0;
  margin: 0.8rem;
  border-radius: 0.5rem;
}
.barcode {
  background:white;
  border-radius: 0.5rem;
  border: solid 1px hsla(0,0%,0%,0.75);
  padding: 0.8rem;
  width: 88%;
  max-width: 320px;
  height: 88%;
  display: inline-block;
  box-shadow: 7px 7px 34px 0px hsla(0,0%,0%,0.75);
}

.selected { background:white; }

#shield {
  background-color: hsl(240,66%,8%);
  opacity: 0.44;
  position: fixed;
  top:0; bottom:0; right:0; left:0;
  height: 100%;
  width: 100%;
}
body[data-state=selected] { background-color: #bbb; }
body[data-state=browsing] #shield { z-index: -2000; }
body[data-state=selected] .item { filter: blur( 1px );}
body[data-state=selected] .item.selected { filter: blur( 0px );  border-color: white;}

body[data-state=selected] .selected {
  position: relative;
  z-index: 2000;
  box-shadow: 7px 7px 34px 0px rgba(0, 0, 0, 0.75);
}

body[data-state=selected] .barcode-display { z-index: 2000; }

.ean { display: none }

hr { visibility: hidden; }

.group {
  padding: 0.5rem;
  margin: 0.4rem 0;
  background-color: hsl( 0, 0%, 100%, 0.8 );  
}

.group .item {
  position:relative;
  display: inline-block;
  min-width: 90px;
  padding: 0.5rem;
  background-color: hsl( 0, 0%, 98% );
  border-style: solid;
  border-width: 2px;
  border-radius: 0.33rem;
  border-color: hsl( 0, 0%, 50% );
  background-color: hsl( 0, 0%, 99% );
  margin: 5px 5px 16px 5px;
 
}

.group[data-interesting=false] {
  display: none;
}

.item[data-interesting=true] {
  box-shadow: 0px 0px 4px 4px hsla( 60, 0%, 50%, 0.75 );
}

.item[data-interesting=false] {
  border-color: hsl( 0, 0%, 70% );
}
.item[data-interesting=false] .ccd {
  opacity: 0.2;
}


/* COLOR CODES */
.ccd {
  position: absolute;
  left: 5px;
  right: 5px;
  text-align: center;
  margin-top: 2px;
}

#filter .ccd {
  width: 100%;
}

.dot {
  height: 12px;
  width: 12px;
  border-radius: 2px;
  border: solid 1px hsl(0, 0%, 20%, 1);
  margin: 1px 1px 0 1px;
  text-align: left;
  display: inline-block;
  box-shadow: 0px 0px 2px 2px hsl(0, 0%, 0%, 0.25);
}

[data-color=r] { background-color: hsl(  350,90%,50%); }
[data-color=o] { background-color: hsl( 30,100%,50%); }
[data-color=y] { background-color: hsl( 50,100%,50%); }
[data-color=g] { background-color: hsl( 100,60%,50%); }
[data-color=b] { background-color: hsl(210,90%,50%); }
[data-color=v] { background-color: hsl(280,90%,50%); }
[data-color=w] { background-color: hsl( 20,60%,40%); }
[data-color=s] { background-color: hsl(  0, 0%, 0%); }


/* FILTERING */

@media only screen 
  and (max-width: 499px) {
  #filter {
    position: fixed;
    bottom:0;
    left:0; right:0;
  }
}

@media only screen 
  and (min-width: 450px) {
    #filter {
      position: fixed;
      bottom: 30vh;
      right:0;
      width: 450px;
      border-radius: 30px 0 0 30px;
    }
    #filter input {
      border-radius: 30px 0 0 0;
    }
    #filter .footer {
      height: 60px;
      backgrund-color: white;
      border-radius: 30px 0 0 30px;
    }
  }

  #filter .cancel-btn {
    position:absolute;
    right:10px;
    top: 19px;
    border-radius:50%;
    width: 30px;
    height: 30px;
  }

#filter > .ccd {
  position: absolute;
  left:0; right:0;
  top: 50px;
}
#filter .ccd > .dot {
  border-color: hsl( 0, 0%, 70% );
  box-shadow: none;
} 
[data-interesting=true] {
  display: block;
}

#filter {
  text-align: center;
  background-color: hsla(0,0%,0%,0);
  box-shadow: 0px 0px 4px 4px hsla(240,70%,15%,0.9);
}

#filter input {
  font-size: 1.6rem;
  padding: 16px 8px 35px 8px;
  width: 100%;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}


#color-keypad {
  display: grid;
  grid-template-columns: repeat(9,1fr);
  grid-template-rows: 50px;
}

#color-keypad button {
  font-size: 36px;
  font-weight: 700;
  color: hsla(0,0%,0%,0.5)
}

#filter .enter-btn {
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
}

